.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.about h1 {
  color: black;
  text-align: center;
}

.about p {
  color: black;
  text-align: center;
}

.about .buttonarea {
  display: flex;
  justify-content: center;
}

.about .button {
  color: black;
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
}

.blackbox {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
}
