.features {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.features h1 {
  text-align: left;
  margin: 7rem 0rem 7rem 3rem;
  color: white;
}

.featureslist {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem;
}

.featureicon {
  width: 5rem;
  height: 5rem;
  background-color: rgb(226, 43, 104);
  margin: 0 auto 1rem;
}

.featureitem {
  flex: 1 1 0;
  text-align: center;
}

.featureitem h3 {
  margin: 1rem 0;
}

.features button {
  width: auto;
  color: white;
  background-color: rgb(226, 43, 104);
  margin: 3rem auto 1rem auto;
  display: block;
}

.pinkbox {
  position: absolute;
  width: 75%;
  height: 11rem;
  top: 2rem;
  overflow: hidden;
  background-color: rgb(226, 43, 104);
}

.blackbox {
  position: absolute;
  width: 70%;
  height: 11rem;
  top: 4rem;
  overflow: hidden;
  background-color: black;
}
