.landing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.landing h1 {
  text-align: center;
}

.landing p {
  text-align: center;
}

.landing .buttonarea {
  display: flex;
  justify-content: center;
}

.landing .button {
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
}

.background {
  position: absolute;
  width: 90%;
  height: 50%;
  left: 0;
  top: 40%;
  background-color: #eceae8;
}
