.projects h1 {
  color: white;
  text-align: center;
  margin: 0 0 4rem;
  padding-top: 5rem;
}

.projects .contents {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.projects .contents .item {
  position: relative;
  height: 18rem;
  width: 100%;
}

.projects .contents .item:after {
  position: absolute;
  content: '';
  background-color: black;
  height: 85%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -10;
}

.projects .contents .item:before {
  position: absolute;
  content: '';
  background-color: rgb(226, 43, 104);
  height: 85%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -9;
}

.projects .contents .item h3 {
  display: inline-block;
  position: relative;
  color: white;
}

.projects .contents .item h3:after {
  position: absolute;
  content: '';
  background-color: black;
  height: 140%;
  width: 150%;
  top: -0.5rem;
  left: -0.75rem;
  z-index: -10;
}

.projects .contents .projectimage {
  position: relative;
  background-color: rgb(226, 43, 104);
  height: 85%;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.pinkbox {
  position: absolute;
  height: 8rem;
  width: 35%;
  background-color: rgb(226, 43, 104);
  top: 3rem;
  left: 30%;
}

.blackbox {
  position: absolute;
  height: 8rem;
  width: 35%;
  background-color: black;
  top: 4rem;
  left: 35%;
}
