.fade {
  opacity: 0;
  transition: all 1s ease-out;
}

.fade.left {
  transform: translate(-100%, 0);
}

.fade.right {
  transform: translate(100%, 0);
}

.fade.top {
  transform: translate(0, -100%);
}

.fade.bottom {
  transform: translate(0, 100%);
}

.fade.animate {
  transform: translate(0);
  opacity: 1;
}
