.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  transform: translateY(-100%);
  transition: all 0.5s ease-out;
}

.hamburger.open {
  transform: translateY(0);
}

.bounds {
  position: relative;
  max-width: 1056px;
  height: 100%;
  margin: 0 auto;
}

.hamburger-button {
  position: absolute;
  right: 2rem;
  bottom: -3rem;
  width: 3rem;
  height: 3rem;
  background-color: black;
  fill: white;
  cursor: pointer;
  transition: all 0.25s ease-out;
  transform: translateY(-100%);
}

.hamburger-button:hover {
  fill: rgb(226, 43, 104);
}

.hamburger-button.visible {
  transform: translateY(0);
}

.hamburger-button svg {
  height: 65%;
  width: 65%;
  margin: 0.5rem;
}

.hamburgerclose-button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 3rem;
  top: 1rem;
  cursor: pointer;
  fill: white;
}

.hamburgerclose-button:hover {
  fill: rgb(226, 43, 104);
}

.hamburgerclose-button svg {
  height: 100%;
  width: 100%;
  margin: 0.5rem;
}

.hamburger-menu {
  width: 100%;
  height: 100%;
}

.hamburger-menu ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hamburger-menu ul li {
  position: relative;
  margin: 0.5rem;
  font-size: 3rem;
  text-align: center;
  color: white;
  text-decoration: none;
  list-style-type: none;
}

.hamburger-menu ul li a {
  color: white;
  transition: all 0.15 ease-out;
}

.hamburger-menu ul li a:hover {
  transition: all 0.15 ease-out;
  color: rgb(226, 43, 104);
}

.hamburger-menu ul li:after {
  position: absolute;
  content: '';
  background-color: rgb(226, 43, 104);
  width: 4rem;
  height: 1px;
  left: 50%;
  bottom: -0.25rem;
  transform: translateX(-50%);
}
