.lazyload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}

.lazyload::after {
  display: block;
  content: ' ';
  background-color: black;
  width: 100%;
  height: 100%;
  transform-origin: 100%;
  transition: inherit;
}

.lazyload.loaded::after {
  transform: scaleX(0);
}
