body {
  margin: 0;
  font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 8rem;
  font-weight: 900;
}

button {
  margin: 0;
  padding: 0.5rem 1rem;
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}
