html {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

button {
  margin: auto;
  padding: 1rem 2.5rem;
  border: 0;
  border-radius: 0.15rem;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
}

button:before {
  position: absolute;
  content: '';
  width: 1.5rem;
  height: 2rem;
  left: 50%;
  top: 50%;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  transition: all 0.15s linear;
  transform: translate(-50%, -50%);
  opacity: 0;
}

button:hover:before {
  transform: translate(-50%, -50%) scale(7, 5);
  opacity: 1;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 481px) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 3rem;
  }
}
