html {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

button {
  margin: auto;
  padding: 1rem 2.5rem;
  border: 0;
  border-radius: 0.15rem;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 950px) {
  html {
    font-size: 18px;
  }
}
